* {
    margin: 0;
    padding: 0;
} 

body {
    overflow-x: hidden;

    background-color: var(--color-3);

    -webkit-font-smoothing: antialiased;
}

:root {
    /* COLORS */
    
    --color-1: #282828;
    --color-2: #FFFFFF;
    --color-3: #FAFAFA;
    --color-4: #AFAFAF;

    /* FONTS */

    /* font family's */
    --font-family-1: 'DM Sans', sans-serif;
    --font-family-2: 'Urbanist', sans-serif;

    /* font sizes */
    --font-size-1: 18.5em;
    --font-size-2: 2.5em;
    --font-size-3: 1.5em;
    --font-size-4: .875em;

    /* font weight */
    --font-weight-1: 300;
    --font-weight-2: 400;

    /* text transform */
    --text-transform-uppercase: uppercase;
}

@media (min-width: 1600px) {
    :root {
        /* FONTS */

        /* font sizes */
        --font-size-1: 24.5em;
        --font-size-2: 3em;
        --font-size-3: 2em;
        --font-size-4: 1.2em;
    }
}

@media (max-width: 1300px) {
    :root {
        /* FONTS */

        /* font sizes */
        --font-size-1: 14.5em;
        --font-size-2: 2em;
        --font-size-3: 1.2em;
        --font-size-4: .775em;
    }
}

@media (max-width: 1000px) {
    :root {
        /* FONTS */

        /* font sizes */
        --font-size-1: 12.5em;
        --font-size-2: 1.8em;
        --font-size-3: 1.1em;
        --font-size-4: .75em;
    }
}

@media (max-width: 900px) {
    :root {
        /* FONTS */

        /* font sizes */
        --font-size-1: 10.5em;
        --font-size-2: 1.6em;
        --font-size-3: 1em;
        --font-size-4: .7em;
    }
}

@media (max-width: 650px) {
    :root {
        /* FONTS */

        /* font sizes */
        --font-size-1: 8.5em;
        --font-size-2: 1.5em;
        --font-size-3: .9em;
        --font-size-4: .6em;
    }
}

@media (max-width: 550px) {
    :root {
        /* FONTS */

        /* font sizes */
        --font-size-1: 7.5em;
        --font-size-2: 1.4em;
        --font-size-3: .8em;
        --font-size-4: .55em;
    }
}

@media (max-width: 480px) {
    :root {
        /* FONTS */

        /* font sizes */
        --font-size-1: 5.5em;
        --font-size-2: 1.3em;
        --font-size-3: .7em;
        --font-size-4: .5em;
    }
}

