/* FOOTER */

footer {
    height: 50dvh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: var(--grid-margin-small) var(--grid-margin-big);
}

footer h2 {
    width: 56%;

    font-size: var(--font-size-2);
    font-weight: 400;
    line-height: 110%;
    color: var(--secondary-color)
}

footer h2 span {
    opacity: 24%;
}

footer nav {
    display: flex;
    justify-content: space-between;

    font-size: var(--font-size-4);
    font-weight: 300;
    text-transform: uppercase;
    color: var(--secondary-color);
}

footer nav ul {
    display: flex;
}

footer nav ul li {
    margin: 0 var(--grid-margin-small);

    list-style: none;
}

footer nav ul li:last-of-type {
    margin-right: 0;
}

footer nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

@media (min-width: 1400px) {
    footer h2 {
        width: 48%;
    }
}

@media (max-width: 500px) {
    footer h2 {
        width: 75%;
    }
}

@media (max-width: 400px) {
    footer h2 {
        width: 90%;
    }

    footer nav p {
        align-self: flex-end;
    }

    footer nav ul {
        display: block;
    }

    footer nav ul li {
        margin: 0;
        
        text-align: right;
    }
}
