/* NAV */

body > nav {
    width: 100vw;

    position: fixed;

    display: flex;

    z-index: 1000;

    backdrop-filter: blur(.6em);
}

body > nav ul {
    height: 4.5em;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 var(--grid-margin-big);
    padding: 0 var(--grid-padding-small);

    border: var(--border-1);
    border-radius: var(--radius-1);
}

body > nav ul li {
    display: flex;
    align-items: center;

    list-style: none;
}

body > nav ul li a {
    font-size: var(--font-size-4);
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-color);
}

body > nav ul li:nth-of-type(2) a {
    margin: 0 var(--grid-margin-small);
}

body > nav ul li:nth-of-type(2) a:last-of-type {
    display: none;
}

body > nav ul li:nth-of-type(3) {
    padding: .6em 1.6em;

    border-radius: var(--radius-2);
    
    background-color: var(--secondary-color);
}

body > nav ul li:nth-of-type(3) a {
    color: var(--primary-color)
}

@media (max-width: 800px) {
    body > nav ul {
        height: 3.5em;
    }

    body > nav ul li:nth-of-type(3) {
        padding: .5em 1.2em;
    }
}

@media (max-width: 700px) {
    body > nav ul {
        height: 2.8em;
    }
}

@media (max-width: 600px) {
    body > nav ul {
        justify-content: center;
    }

    body > nav ul li:nth-of-type(1) {
        display: none;
    }

    body > nav ul li:nth-of-type(2) a:last-of-type {
        display: block;
    }

    body > nav ul li:nth-of-type(3) {
        display: none;
    }
}